<ion-content [fullscreen]="true" color="primary">
  <div class="pefil">
    <ion-list>
      <ion-fab vertical="center" horizontal="center">
        <ion-fab-button size="small" color="white">
          <img src="../../assets/imagen/perfil/Prof.jpg" />
        </ion-fab-button>
        <p class="ion-text-center">
          <ion-text>
            Alterar foto
          </ion-text>
        </p>
      </ion-fab>
    </ion-list>
    <ion-grid>
      <ion-icon  name="clipboard-outline"></ion-icon>
      <ion-label class="ion-margin ion-padding-start">
        <ion-text>
          Dados Pessoais
        </ion-text>
      </ion-label>
    </ion-grid>
  </div>
  <section id="selecao"  class="full-width">
    <ion-icon id="icon" name="exit-outline"></ion-icon>
    <ion-label id="sair" expand="full" class="ion-margin ion-padding-start">
      <ion-text>
        Sair
      </ion-text>
    </ion-label>
  </section>

</ion-content>
