<ion-header class="ion-no-border" color="primary">
  <ion-toolbar color="none">
    <div>
      <img src="../../assets/imagen/perfil/Prof.jpg">
     <p>
      <ion-text>
        Olá, prof Anderson
      </ion-text>
     </p>
    </div>
  </ion-toolbar>
  <ion-grid></ion-grid>

</ion-header>

<ion-content>
  <div  class="ion-text-center">
    <ion-list lines="none">
      <ion-item-sliding>
        <ion-item id="escola" color="primary">
          <ion-thumbnail>
            <ion-icon id="iten1" name="school-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            ESCOLA
          </ion-label>
          <ion-thumbnail >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-thumbnail>
        </ion-item>
        <ion-item id="turma" color="primary">
          <ion-thumbnail >
            <ion-icon id="iten2" name="people-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            TURMA
          </ion-label>
          <ion-thumbnail >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-thumbnail>
        </ion-item>
        <ion-item id="disciplina" color="primary">
          <ion-thumbnail >
            <ion-icon id="iten3" name="book-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            DISCIPLINA
          </ion-label>
          <ion-thumbnail >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-thumbnail>
        </ion-item>
        <ion-item id="periodo" color="primary">
          <ion-thumbnail >
            <ion-icon id="iten4" name="time-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            PERÍODO
          </ion-label>
          <ion-thumbnail >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-thumbnail>
        </ion-item>

      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
