<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Dados Pessoais</ion-title>
    <ion-buttons slot="end">
      <ion-back-button  defaultHref="home" icon="close-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="pai">
    <div>
     <p>Nome:</p>
     <ion-input value="Anderson Soares"></ion-input>
   </div>
    <div>
     <p>Matricula:</p>
      <ion-input value="999999-9999"></ion-input>
   </div>
    <div>
     <p>tell:</p>
     <ion-input value="(98) 984588461"></ion-input>
   </div>
    <div>
      <p>email:</p>
      <ion-input value="andersongameplay@gmail.com"></ion-input>
   </div>
</div>
</ion-content>
